@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.overlay--open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000aa;
}

.display-none {
  display: none;
}
